<!doctype html>

</html lang="en">

<head>
	<title>CS_ABET.html</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
</head>

<body class="container">
	<header class="row container">
		<h1>Computer Science ABET System</h1>
	</header>
	<section class="row container">
		<h4>Welcome! You have reached the Computer Science ABET System!</h4>
		<p>This website will assist you, the user, in the accreditation renewal process with ABET.<br>
		   Click <a	href= "login.html">here</a> to Login using your LinkBlue ID and password<br><br>
			- REMEMBER, the instructor should enter their Student Learning Outcomes (SLO) and not assignment grades.<br>
			 - Assignment grades can be curved while these SLO's will show the ground truth when it deals with the course.<br>
			 - These course reports are used to help a student understand how well a course prepares them for future courses<br>
			      and is in no way a instructor evaluation.
		</p>


	
		

		
	</section>
	<footer class="row container">

	</footer>
</body>

</html>